/*
** Utilities
*/
.table-responsive-forced {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;

    //not sure if a good idea or not
    //to display this we should create a kind of "collapsible columns"
    /*td {
        white-space:nowrap;
    }*/
}
