.body_container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
thead{
  font-weight: bold;
}

table{
  margin-top:100px;

}
form{
  margin-top: 100px;
}

.input_errors_name{
  background-color: #FF6666;
}
.input_errors_mail{
  background-color: #FF6666;
}
.input_errors_message{
  background-color: #FF6666;
}
.input_errors_name:focus{
  background-color: #FF3333;
}
.input_errors_mail:focus{
  background-color: #FF3333;
}
.input_errors_message:focus{
  background-color: #FF3333;
}
#errors_name{
  font-size: 12px;
  font-family: Verdana;
  font-weight: bold;
  color: red;
  margin-left: 10px;
}
#errors_mail{
  font-size: 12px;
  font-family: Verdana;
  font-weight: bold;
  color: red;
  margin-left: 10px;
}
#errors_phone{
  font-size: 12px;
  font-family: Verdana;
  font-weight: bold;
  color: red;
  margin-left: 10px;
}
#errors_message{
  font-size: 12px;
  font-family: Verdana;
  font-weight: bold;
  color: red;
  margin-left: 10px;
}

.width-mess{
  width: 20px; /* à modifier selon vos besoins */
  overflow: hidden;
  text-overflow: ellipsis; /* pour le reste du monde */
}
}