
#footer_title{
  padding-top: 5px;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  
}

.footer_logo{
  text-align: center;
}


@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */

#footer_title{
  padding-top: 5px;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  
}

.footer_logo{
  text-align: center;
}
}
@media only screen and (max-width : 784px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */

#footer_title{
  padding-top: 5px;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  
}

.footer_logo{
  text-align: center;
}
}
@media only screen and (max-width : 1050px) and (min-width : 785px) {
   /* Small desktop / ipad view: 3 tiles */

#footer_title{
  padding-top: 5px;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  
}

.footer_logo{
  text-align: center;
}
}
@media only screen and (max-width : 1680px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */

#footer_title{
  padding-top: 5px;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  
}

.footer_logo{
  text-align: center;
}
}