@font-face {
    font-family: dashicons;
    src: url(../fonts/dashicons.woff);
}

body{
  margin:0;
}
#menu{
  max-width: 800px;
  background-color: whitesmoke;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;;
}

#img_content:hover{
  cursor: pointer;
  
}

.menu{
  text-decoration: none !important;
}

.menu:visited{
  color:black;
  text-decoration: none;
}
.tab{
  float:left;
  margin-right: 70px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 13px;
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
  margin: 25px 1% 0;
  width: 30%;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-right: solid 3px white; 
}

.tab p{
  margin-bottom: 0;
  margin-top: 0;
}
#img_home{
  text-decoration: none;
}
#img_home:visited{
  color:black;
}
#img_home:before{
  font-family:dashicons;
  content:"\f102";
  display:none;
  font-size: 18px;
}

#img_home:hover{
  color:goldenrod;
} 

#img_content:before{
  font-family:dashicons;
  content: "\f333";
  display: none;
  font-size: 18px;
}

#img_content:hover{
  color:goldenrod;
}
#img_contact{
  text-decoration: none;
}
#img_contact:visited{
  color:black;
}
#img_contact:before{
  font-family:dashicons;
  content: "\f525";
  display: none;
  font-size: 18px;
  text-align: center;
  padding-top:15px;
}

#img_contact:hover{
  color:goldenrod;
}

.hidden:hover{
  color:goldenrod;
}
.hidden{
  cursor:pointer;
  text-decoration: none;
}
.hidden:visited{
  color:black;
  text-decoration: none;
}
.menu_deroulant, .menu_deroulant ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}

.menu_deroulant li{
display:inline-block;
position:relative;
}

.menu_deroulant ul li{
display:inherit;
}

.menu_deroulant ul{
position:absolute;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}

.menu_deroulant li:hover ul{
max-height:15em;
}

/* background des liens menus */
.menu_deroulant li:first-child{
background-color: whitesmoke;
}

.menu_deroulant li:first-child li{
background:whitesmoke;
}

.menu_deroulant li:first-child:hover, .menu_deroulant li:first-child li:hover{
background:whitesmoke;
}

.menu_deroulant a{
text-decoration:none;
display:block;
padding:8px 32px;
color:black;
font-family:arial;
}

.menu_deroulant ul a{
padding:8px 0;
}

.menu_deroulant li:hover li a{
color:black;
text-transform:inherit;
}

.menu_deroulant li:hover a, .menu_deroulant li li:hover a{
color:goldenrod;
}
.menu:visited{
  color:black;
}

#hidden_border_contact{
  border-right: none;
  float:left;
  margin-right: 70px;
  margin-bottom: 10px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
  margin: 25px 1% 0;
  width: 30%;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
  .menu_deroulant li{
    width:72px;  
  }
  .hidden{
    display: none;  
  }
  .tab{
    font-size: 10px;  
  }
  
  #home:hover{
    text-decoration: none; 
    color : goldenrod;
  }
  #home{
    text-decoration: none; 
    color : black;
  }
  #home:visited{
    text-decoration: none; 
    color : black;
  }
  
  #img_home:before{
    display:block;
  }
  
  #img_content:before{
    display:block;
  }
  
  #img_contact:before{
    display:block;
  }
}

@media only screen and (max-width : 784px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
  .menu_deroulant li{
    width:130px;  
  }   
}
@media only screen and (max-width : 1050px) and (min-width : 785px) {
   /* Small desktop / ipad view: 3 tiles */
  .menu_deroulant li{
    width:221px;  
  }   
}
@media only screen and (max-width : 1680px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .menu_deroulant li{
    width:221px;  
  }
}
